/* Header and Footer */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
}

.logo {
  height: 50px;
  width: 50px;
}

.container-fluid,
.custom-background-color {
  background-color: var(--bkgrd-color1);
}

.nav-pills .nav-link,
.nav-pills .nav-link.active:hover,
.custom-button-color {
  color: var(--text-color1);
}

.nav-pills .nav-link:hover {
  color: var(--text-color2);
}

.nav-pills .nav-link.active,
.custom-button-color:hover {
  background-color: var(--bkgrd-color2);
}

.footer-container {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Error Page */
.custom-border-1 {
  border-bottom: solid var(--bkgrd-color3);
}

.custom-border-2 {
  border-top: solid var(--bkgrd-color3);
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* About Me Page */
.info-div {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border: 3px solid var(--bkgrd-color2);
}

.about-paragraph {
  margin-left: 10%;
}

.about-paragraph span {
  background-color: var(--bkgrd-color4);
  padding: 10px;
}

/* Portfolio Page */
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-div {
  width: 80%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background-color: var(--bkgrd-color4);
}

.l-project-div {
  padding: 30px;
}

.project-img {
  width: 100%;
  height: 100%;
}

.custom-badges-div,
.links-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.links-div {
  margin-top: 5%;
}

.language-badge {
  padding: 5px;
  margin-right: 5px;
  background-color: var(--bkgrd-color2);
  font-weight: bold;
  font-size: 15px;
}

@media (max-width: 850px) {
  .nav-container {
    flex-direction: column;
  }

  .info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-paragraph span {
    font-size: 15px;
    padding: 5px;
  }

  .profile-pic {
    width: 200px;
    height: 200px;
  }

  .project-div {
    grid-template-columns: 1fr;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('./images/sat_seeker.png');
    background-size: cover;
    background-position: center;
  }

  .project-img {
    display: none;
  }
}
