/* Header and Footer */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
}

.logo {
  height: 50px;
  width: 50px;
}

.container-fluid,
.custom-background-color,
.custom-button-color {
  background-color: var(--bkgrd-color1);
}

.nav-pills .nav-link,
.nav-pills .nav-link.active:hover,
.custom-button-color {
  color: var(--text-color1);
}

.nav-pills .nav-link:hover {
  color: var(--text-color2);
}

.nav-pills .nav-link.active,
.custom-button-color:hover {
  background-color: var(--bkgrd-color2);
}

.footer-container {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Error Page */
.custom-border-1 {
  border-bottom: solid var(--bkgrd-color3);
}

.custom-border-2 {
  border-top: solid var(--bkgrd-color3);
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* About Me Page */
.info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border: 3px solid var(--bkgrd-color2);
}

.about-paragraph {
  width: 80%;
  margin: 10px auto;
}

.about-paragraph span {
  background-color: var(--bkgrd-color4);
  padding: 10px;
}

.carousel {
  z-index: 0;
  margin-bottom: 60px;
}

.carousel-item img {
  height: 400px;
  object-fit: contain;
}

.carousel-item {
  height: 100%;
}

/* Portfolio Page */
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-div {
  width: 80%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background-color: var(--bkgrd-color4);
}

.l-project-div {
  padding: 30px;
}

.project-img {
  width: 100%;
  height: 100%;
}

.custom-badges-div,
.links-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.links-div {
  margin-top: 5%;
  justify-content: space-evenly;
}

.language-badge {
  padding: 5px;
  margin-right: 5px;
  background-color: var(--bkgrd-color2);
  font-weight: bold;
  font-size: 15px;
}

/* Contact Form Page*/
.form-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Resume Page */
.resume-div,
.resume-download {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.resume-div {
  width: 80%;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
}

.resume-download {
  max-width: 300px;
  margin: 20px auto;
}

.resume-img {
  width: 50%;
  height: auto;
}

@media (max-width: 850px) {
  /* Header and Footer */
  .nav-container {
    flex-direction: column;
  }

  /* About Me Page */

  .carousel-item img {
    height: 300px;
  }

  .about-paragraph span {
    font-size: 15px;
    padding: 5px;
  }

  .profile-pic {
    width: 200px;
    height: 200px;
  }

  /* Portfolio Page */
  .project-div {
    grid-template-columns: 1fr;
  }

  .project-0 {
    background: var(--bkgrd-style), url("./images/sat_seeker.png");
    background-size: cover;
    background-position: center;
  }

  .project-1 {
    background: var(--bkgrd-style), url("./images/dota_api_website.png");
    background-size: cover;
    background-position: center;
  }

  .project-2 {
    background: var(--bkgrd-style), url("./images/mvc_blog_homepage.png");
    background-size: cover;
    background-position: center;
  }

  .project-3 {
    background: var(--bkgrd-style), url("./images/rocket_launch_info.png");
    background-size: cover;
    background-position: center;
  }

  .project-4 {
    background: var(--bkgrd-style), url("./images/get_route_nosql.png");
    background-size: cover;
    background-position: center;
  }

  .project-5 {
    background: var(--bkgrd-style), url("./images/weather_app.png");
    background-size: cover;
    background-position: center;
  }

  .project-img {
    display: none;
  }

  /* Resume Page */
  .resume-div {
    flex-direction: column;
  }

  .resume-img {
    width: 100%;
  }
}
