.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
}

.logo {
  height: 50px;
  width: 50px;
}

.container-fluid,
.custom-background-color {
  background-color: var(--bkgrd-color1);
}

.nav-pills .nav-link,
.nav-pills .nav-link.active:hover,
.custom-button-color {
  color: var(--text-color1);
}

.nav-pills .nav-link:hover {
  color: var(--text-color2);
}

.nav-pills .nav-link.active,
.custom-button-color:hover {
  background-color: var(--bkgrd-color2);
}

.footer-container {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.custom-border-1 {
  border-bottom: solid var(--bkgrd-color3);
}

.custom-border-2 {
  border-top: solid var(--bkgrd-color3);
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-div {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border: 3px solid var(--bkgrd-color2);
}

@media (max-width: 850px) {
  .nav-container {
    flex-direction: column;
  }

  .info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile-pic {
    width: 200px;
    height: 200px;
  }
}
