.container-fluid,
.custom-background-color {
  background-color: var(--bkgrd-color1);
}

.nav-pills .nav-link,
.nav-pills .nav-link.active:hover {
  color: var(--text-color1);
}

.nav-pills .nav-link:hover {
  color: var(--text-color2);
}

.nav-pills .nav-link.active,
.custom-button-color:hover {
  background-color: var(--bkgrd-color2);
}

.footer-container {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.custom-border-1 {
  border-bottom: solid var(--bkgrd-color3);
}

.custom-border-2 {
  border-top: solid var(--bkgrd-color3);
}

.custom-button-color {
  color: var(--text-color1);
}
